.nav {
    width: 800px;
    display: flex;
    justify-content: space-between;
    
}

.navLink {
    text-decoration: none;
    color: #0066ff;
}

.navLink:hover {
    text-decoration: underline;
    color: goldenrod;
}

.active {
    color: goldenrod;
    text-decoration: none;
}